.btn {
    color: #333;
    background-color: #FFB26D;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    width: 160px;
    height: 42px;
    text-shadow: #FE6 0 1px 0;
    text-align: center;
}

.btn:hover {
    opacity: 1;
    background-color: #FF8A21;
}

