<div id="cart" class="center-block">
    @*<h1 class="ui-widget-header">Requirements Document</h1>
        <div class="ui-widget-content">
            <ol>
                <li class="placeholder">Add your items here</li>
            </ol>
        </div>*@
    <textarea placeholder="Text Widget" id="editor1" name="editor1" rows="8" col="60"></textarea>

    <div class="imagewidget" data-toggle="tooltip" title="Upload an Image">
        <img id="imagewidget" name="imagewidget" class="blah" src="#" alt="Upload an Image" />
        <input type='file' onchange="readURL(this);" />
    </div>

    <br/>
    <button id="authorizeButton">You must authorize</button>

    @*<p>
        These text areas are on the same page. You can also
        <a href="#" onclick="window.open(window.location.href);return false;">
            open them on separate users' browsers
        </a> and they will remain synchronized.
    </p>

    <!-- Text areas that will be used as our collaborative controls. -->
    <textarea id="editor1" rows="15" cols="50" disabled="true"></textarea>
    <textarea id="editor2" rows="15" cols="50" disabled="true"></textarea>
    <br />

    <!-- Undo and redo buttons. -->
    <button id="undoButton" disabled>Undo</button>
    <button id="redoButton" disabled>Redo</button>*@

</div>
