<div class="wrapper">
    <ul id="menu" class="clearfix">
        <li>
            <a href="#">File</a>
            <ul>
                <li><a href="#">New</a></li>
                <li><a href="#">Open</a></li>
                <li><a href="#">Rename</a></li>
                <li class="blue">
                    <a href="#">Export As <span class="glyphicon glyphicon-chevron-right"></span></a>
                    <ul>
                        <li><a href="#">PDF</a></li>
                        <li><a href="#">Word Document</a></li>
                    </ul>
                </li>
                <li class="blue">
                    <a href="#">Return To <span class="glyphicon glyphicon-chevron-right"></span></a>
                    <ul>
                        <li><a href="#">Home Page</a></li>
                        <li><a href="#">Project Manager</a></li>
                        <li><a href="#">Sub Project Manager</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Edit</a>
            <ul>
                <li><a href="#">Cut</a></li>
                <li><a href="#">Copy</a></li>
                <li><a href="#">Paste</a></li>
                <li><a href="#">Delete</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Insert</a>
            <ul>
                <li><a href="#">Tool Bar</a></li>
                <li><a href="#">Widgets</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Help</a>
            <ul>
                <li><a href="#">View Help</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Online Support</a></li>
            </ul>
        </li>
    </ul>
</div>
