<div id="dialog-form" title="Add Collaborator">
    <p class="validateTips">All form fields are required.</p>
    <form>
        <fieldset>
            <label for="email">Email</label>
            <input type="text" name="email" id="email" class="text ui-widget-content ui-corner-all">
            <label for="name">Comment</label>
            <textarea rows="4" cols="30" name="comment" id="comment" class="text ui-widget-content ui-corner-all"></textarea>
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>
