@{
    ViewBag.Title = "Home Page";
}

<div class="frontmenubox">
    <div class="row>">
        <h2>Welcome to Team Space</h2>
        <h1 class="frontmenuboxsubtitle">Let's get productive!</h1><br />
        @Html.ActionLink("Log In", "Login", "Account",null,new {@class="btn"})
    </div>
</div>
